html,
body {
  margin: 0;
}

main,
header,
footer {
  padding: 8px;
}

header {
  border-bottom: 1px solid darkgray;
  background: #eee;
  text-align: center;
}

footer {
  border-top: 1px solid darkgray;
  display: flex;
  flex-direction: column;
}